<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>About Us</title>
      <style>

.bubble {
   width: 100%;
   margin: 0px auto;
   display: block;
   min-height: 250px;
}
.left {
   float: left;
}
.right {
   float: right;
}
#title {
   padding-top: 50px;
}
.subtitle {
   text-align: left;
}

      </style>
   </head>
   <body>
      {% extends "template.html" %}
      {% block content %}
      <div class="content">
         <br>
         <h2 id="title">About Us</h2>
         <div class="bubble">
            <div class="right">
               <img src="{{ url_for('static', filename='images/randomicon.png') }}" />
            </div>
            <h3 class="subtitle">What is PantherTunes?</h3>
            <p>
               Panther Tunes is the first social media platform dedicated to all things original music. While many musicians upload on TikTok, Instagram, and YouTube, our app is solely focused on content related to music. It creates a unique space for composers, songwriters, arrangers, producers, and more to engage in original collaborations. Users can create profiles, upload their songs, and connect with other music creators. The platform also includes features such as a newsfeed for sharing updates and a messaging system for direct communication with other users. Additionally, the connections with users offers resources and tools for songwriters such as chord progressions and lyrics suggestions. The main goal of this website is to provide a community for independent musicians to share their work and connect with others in music. 
<br><br>
Max Bloom and Praveer Sharan developed PantherTunes as a way for musicians to have a forum to create, compare, and collaborate. Music is the one of the only things connecting everyone. It has the power to connect people from all over the world, regardless of language or background. Music has the ability to evoke emotions, tell stories and connect people. Songwriting, in particular, is an art form that allows people to express themselves in a unique and personal way. It can be a form of self-expression, a way to make sense of the world, and a way to connect with others. This can be in the form of lyrics, melodies, rhythm, and more. 

            </p>
         </div>
      </div>
      {% endblock %}
   </body>
</html>