<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Profile</title>
   </head>
   <script>
         path = window.location.hostname
         if (path == '127.0.0.1'){
            path += ':1601'
         }
         // else if (window.location.protocol != 'https:'){
         //     window.location.href = 'https://domain/sign-in'
         // }

         var window_url = window.location.protocol+'//'+path;
         redirect_to = 'profile'
         let url_string = window.location.href//if there is a redirect value in url it means we need to remember where to rediretc the user to once signed in
         let url = new URL(url_string);
         let c = url.searchParams.get('redirect');
         if (c != null){
            redirect_to = c;
         }

         function delete_post(event) {
            data = {'post_id': event.target.id};
            httpGetAsyncPost(window_url+'/profile', post_deleted, data);
         }

         function post_deleted(data) {
            data = JSON.parse(data)
            if (data['state'] == 'success') {
               if (redirect_to != '') {
                  redirect_to = '/'+redirect_to;
               }
               window.location.href = window_url+redirect_to;
            } else {
               alert('Error: ' + data['state']);
            }
         }

         function httpGetAsyncPost(theUrl, callback, data){
            //alert(JSON.stringify(data));
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() {
               if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                  callback(xmlHttp.responseText);
               }
            }
            xmlHttp.open("POST", theUrl, true); // true for asynchronous 
            //alert('c');
            xmlHttp.send(JSON.stringify(data));
            //alert('d');
         }

   </script>
   <style>
      
   </style>
   <body>
      {% extends "template.html" %}
      {% block content %}
      <div class="content" style="width:90%">
         <br>
         <h2 id="title">{{ session.name }}</h2>
         <br><br>
         <a href="{{ url_for('logout') }}">Log out</a>
         <br>
         <div class="feed">
            {% if len > 0: %}
            {% for post in user_posts %}
            <div class="post">
               <p class="title">{{ post['title'] }}</h3>
               {% for para in post['post'] %}
               {% if para == "": %}
               <p class="desc"><br></p>
               {% else %}
               <p class="desc">{{ para }}</p>
               {% endif %}
               {% endfor %}
               <p class="author">Posted by: {{ post['username'] }}</p>
               <button id="{{ post['post_id'] }}" onclick="delete_post(event)">Delete</button>
            </div>
            {% endfor %}
            {% else %}
            <p>No posts yet. Click <a href="{{ url_for('create_post') }}">here</a> to make your first post!</p>
            {% endif %}
         </div>
      </div>
      <br><br><br>
      {% endblock %}
   </body>
</html>